@font-face {
  font-family: "sehnsuchts";
  src: url("../webfonts/sehnsuchts.ttf") format("truetype"); }
  
@font-face {
  font-family: "attorney";
  src: url("../webfonts/attorney.ttf") format("truetype"); }
  
@font-face {
  font-family: "sehnsucht";
  src: url("../webfonts/sehnsucht.ttf") format("truetype"); 